* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --tiktok-red: #f93050;
  --tiktok-violet: #ff00ff;
  --tiktok-blue: #09ffff;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}



video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	color: white;
	display: flex;
	padding: 1rem 1rem;
	font-size: 1.3rem;
	
	.nav-btn a{
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
		padding: 0 0.5rem;
		font-weight: 400;
		font-size: 1rem;

		.active{
			color: white;
		}
	}

	
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background-color: black;
	/* min-height: 1rem; */

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	display: flex;
	align-items: center;
	justify-content: space-evenly;	
	padding: 1rem 0;

	.icon{
		font-size: 1.5rem;
		text-align: center;
		color: rgba(255, 255, 255, 0.651);
		position: relative;

		.counter{
			font-size: 0.8rem;
			font-weight: 600;
			background-color: var(--tiktok-red);
			width: 25px;
			position: absolute;
			top: 0;
			right: 20px;
			border-radius: 10px;
		}
	}
	
	.icon p{
		text-align: center;
		font-size: 0.8rem;
	}
	
	.plus{
		color: black;
		background-color: white;
		margin-bottom: 1rem;
		font-size: 1rem;
		padding: 0.4rem 1rem;
		border-radius: 10px;
		border-right: 3px solid var(--tiktok-violet);
		border-left: 3px solid var(--tiktok-blue);
	}
	
	.active{
		color: white;
	}

}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.icons .user img{
		max-width: 50px;
		border-radius: 50%;
		border: 2px solid white;
	}
	
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;

	.icon{
		margin: 1.5rem 0;
	}

	.icon :first-child{
		font-size: 1.8rem;
	}

	.user{
		display: flex;
		flex-direction: column;
		position: relative;

		.add{
			background-color: var(--tiktok-red);
			width: 20px;
			height: 20px;
			border-radius: 20px;

			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translate(-50%)  
		}
	}
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
/* .debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
} */

/* --------------------- */
