* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	color: white;
	display: flex;
	padding: 1rem 1rem;
	font-size: 1.3rem;
	
	.nav-btn a{
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
		padding: 0 0.5rem;
		font-weight: 400;
		font-size: 1rem;

		.active{
			color: white;
		}
	}

	
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.icons .user img{
		max-width: 50px;
		border-radius: 50%;
		border: 2px solid white;
		position: relative;

	}

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
	/* justify-content: space-evenly; */
	
	.icon{
		margin: 1.5rem 0;
	}

	.icon :first-child{
		font-size: 1.8rem;
	}

	.user{
		display: flex;
		flex-direction: column;


		.add{
			background-color: rgb(255, 2, 78);
			border-radius: 1rem ;
			max-width: 2rem;

			text-align: center;
			

			position: absolute;
			/* bottom: 0; */
			/* left: 50%; */
			/* transform: translate(-50% -50%)   */
		}
	}
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
